# ignore all files without an extension
*
!*.*
!*/
Makefile

# ignores workspace config folders
.vscode/
*.code-workspace
.idea/

# cache and temporary files
.DS_Store
__pycache__/
tmp/
temp/
docs/
build/
*.a
*.o
*.out
*.zip

# ignore formatter files
.clang-format
